.git
.gitignore
.github

node_modules
npm-debug.log

vendor
composer.phar

.env
.env.*
!.env.example

storage/app/private/*
!storage/app/private/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

bootstrap/cache/*.php

public/build
public/hot
public/storage

tests
docs
terminals
infra

.editorconfig
.styleci.yml
phpunit.xml
README.md
docker-compose.yml
